# InventorySmart - Переменные окружения
# Скопируйте в .env и заполните ОБЯЗАТЕЛЬНО все переменные с *
# deploy.sh сделает это автоматически

# Обязательные переменные *
POSTGRES_DB=inventorysmart
POSTGRES_USER=inventorysmart
POSTGRES_PASSWORD=          # * Задаётся при деплое

JWT_SECRET=                 # * Случайная строка, мин. 32 символа

SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=        # * Задаётся при деплое

# Опциональные переменные
APP_PORT=80
ADMIN_PORT=8080
DB_PORT=5433
